-i http://mirrors.aliyun.com/pypi/simple/ --trusted-host mirrors.aliyun.com
django==1.11.8
django-celery
django-environ
django-extensions
django-reversion
django-import-export
django-model-utils
django-redis-cache
django-jsonfield
django-imagekit
django-docutils
django-simditor
django-filters
django-filter
django-taggit
django-redis
django-mptt
django-suit
django-url-filter
djangorestframework
djangorestframework-filters
djangorestframework-recursive
djangorestframework-word-filter
drf-nested-routers
drf-url-filters
drf-extensions
whitenoise==3.3.1
rongcloud
short-url
requests
cardbin
qrcode
flower
pillow
redis
click
raven
jpush
arrow
plan
django-money
django-jet
django-admin-rangefilter
psycopg2
gunicorn
tornado
gevent